#logo {
    width: 160px;
    height: initial;
}
header {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    margin-bottom: 3rem;
    width: auto;
    background: aliceblue;
    display: flex;
    justify-content: space-between;
}

#back_home_page {
    display: flex;
    justify-content: right;
    margin-right: 2rem;
    font-size: 1.2rem;
    font-family: Sans, sans-serif;
}

#back_home_page a {
    color: #000000 !important;
    text-decoration: none !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

#blog_header {
    font-size: 3rem;
    font-family: "Roboto Light", sans-serif;
}

main {
    padding-left: 2rem;
}

#author {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.blog_avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.7rem;
}

.action_button {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
}

#small_info {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-top: 1px gainsboro ridge;
    border-bottom: 1px gainsboro ridge;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

#contents {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-family: Serif, sans-serif;
    padding: 0.5rem;
}

@media screen and (max-width: 768px) {
    #contents {
        padding: unset;
    }
    main {
        padding-left: 1rem;
    }
}

#responses {
    margin-top: 1rem;
    border-top: 1px gainsboro ridge;
    font-size: 1.3rem;
}

.response {
    border-top: 1px gainsboro ridge;
    font-size: 1.3rem;
    padding: 1rem;
}

.response_author {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.response_contents {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    font-family: Serif, sans-serif;
}

.response_date {
    font-size: 1.2rem;
    color: gray;
    margin-left: 2rem;
    font-family: Serif, sans-serif;
}

#responses_header {
    font-size: 2.5rem;
    font-family: "Sans", sans-serif;
}